.black-and-white {
  /* Set the background image */
  background-image: url("./assets//image1.jpeg");

  /* Ensure the background image covers the entire element */
  background-size: cover;

  /* Apply grayscale filter */
  filter: grayscale(100%);
  opacity: 0.5;
}
